{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>今日股市</title>
    <!-- 引入 Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- 引入 Bootstrap 和 jQuery 的 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 多了s是簡易版，沒有AJAX{% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'Css/Function.css' %}" rel="stylesheet"/>
    <script src="{% static 'Function/Function.js' %}"></script>
    <style>
        body {
            background-color: #B0E0E6;
        }
        .stock_table {
            margin: 20px auto 0 auto;
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 10px;
            width: 80%;
            max-height: 500px;  /* 設置最大高度 */
            overflow-y: auto;  /* 開啟垂直滾動條 */
        }
        .title {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- 頂部導航欄 -->
<div class="container-fluid">
    <div class="col-sm-2">
        <img alt="首頁" onclick="javascript:location.href=''" src="{% static 'picture/home.png' %}" width="30"/>
        <span>首頁</span>
    </div>
    <div class="col-sm-2">
        <img alt="財政報表查詢" src="{% static 'picture/breaking_news.png' %}" width="30"/>
        <span>財政報表查詢</span>
    </div>
    <div class="col-sm-2">
        <img alt="今日股市" onclick="location.reload()" src="{% static 'picture/monitoring.png' %}" width="30"/>
        <span>今日股市</span>
    </div>
    <div class="col-sm-2">
        <img alt="投資建議" onclick="javascript:location.href=''" src="{% static 'picture/query_stats.png' %}" width="30"/>
        <span>投資建議</span>
    </div>
    <div class="col-sm-2">
        <img alt="我的最愛" src="{% static 'picture/favorite.png' %}" width="30"/>
        <span>我的最愛</span>
    </div>
    <div class="col-sm-2">
        <img alt="帳戶" onclick="javascript:location.href=''" src="{% static 'picture/person.png' %}" width="30"/>
        <span>帳戶</span>
    </div>
</div>
<div class="title">
    <h1><b>今日股市</b></h1>
</div>
<!-- 搜尋框 -->
<div class="search-bar">
    <input id="search_name" name="search" placeholder="搜尋股票名稱/代碼" type="text"/>
    <button onclick="Search_stock()" type="submit">
        <img alt="搜尋" src="{% static 'picture/search.png' %}" style="width: 25%;"/>
    </button>
</div>
<!-- 股票資料表格 -->
<div class="stock_table">
    <table class="table table-bordered text-center" id="main_table">
        <thead class="thead_light" style="position: sticky; top: 0;background-color:white">
        <tr>
            <th scope="col">加入我的最愛</th>
            <th scope="col">股票名稱/代碼</th>
            <th scope="col">成交金額</th>
            <th scope="col">漲跌</th>
            <th scope="col">開盤</th>
            <th scope="col">昨收</th>
            <th scope="col">最高</th>
            <th scope="col">最低</th>
            <th scope="col">成交量(張)</th>
            <th scope="col">時間</th>
        </tr>
        </thead>
        <tbody id='stock_data'></tbody>
    </table>
</div>
<script>
    let currentPage = 1;

    // 載入股票資料
    function loadStockData(page) {
        $.ajax({
            url: `/login/today_stock/get_today_stock_data/${page}/`,
            method: 'GET',
            success: function(response) {
                if (response.stocks.length > 0) {
                    response.stocks.forEach(stock => {
                        $('#stock_data').append(`
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><a href="${stock.stock_code}">${stock.stock_name}<br/>${stock.stock_code}.TW</a></td>
                                <td>${stock.tradeValue}</td>
                                <td class="text-${stock.stock_color}">${stock.price_change}</td>
                                <td>${stock.opening_price}</td>
                                <td>${stock.current_price}</td>
                                <td>${stock.high_price}</td>
                                <td>${stock.low_price}</td>
                                <td>${stock.current_volume}</td>
                                <td>${stock.last_update}</td>
                            </tr>
                        `);
                    });
                    currentPage++;
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    // 滾動檢測
    $('.stock_table').on('scroll', function() {
        if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
            loadStockData(currentPage);
        }
    });

    // 初始載入資料
    loadStockData(currentPage);
    // 搜尋股票資料
    function Search_stock() {
        // 取得搜尋框輸入值
        var input = document.getElementById("search_name");
        var searchTerm = input.value;  // 搜尋字串
        if (searchTerm == ''){
            location.reload()
        }

        // 清空現有的表格內容
        $('#stock_data').empty();

        // 發送 AJAX 請求到後端
        $.ajax({
            url: '/login/today_stock/get_today_stock_data/search_stocks/',  // 後端處理搜尋請求的路徑
            method: 'GET',
            data: {
                'search': searchTerm  // 傳送搜尋字串
            },
            success: function(response) {
                if (response.stocks && response.stocks.length > 0) {
                    // 當搜尋結果返回後，更新表格
                    response.stocks.forEach(stock => {
                        $('#stock_data').append(`
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><a href="${stock.stock_code}">${stock.stock_name}<br/>${stock.stock_code}.TW</a></td>
                                <td>${stock.tradeValue}</td>
                                <td class="text-${stock.stock_color}">${stock.price_change}</td>
                                <td>${stock.opening_price}</td>
                                <td>${stock.current_price}</td>
                                <td>${stock.high_price}</td>
                                <td>${stock.low_price}</td>
                                <td>${stock.current_volume}</td>
                                <td>${stock.last_update}</td>
                            </tr>
                        `);
                    });
                } else {
                    alert("沒有找到符合的資料");
                }
            },
            error: function(error) {
                console.error(error);
                alert("搜尋時發生錯誤");
            }
        });
    }
</script>
</body>
</html>
